.slide-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.image-container {
  width: 1500px;
  height: 500px;
  position: relative;
  transition: left 2s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
}

.button-container {
  top: -35px;
  position: relative;
}

.slider-button {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgb(230, 227, 227);
  border-radius: 10px;
  margin: 0 5px;
}

#slider-image-1:target ~ .image-container {
  left: 0px;
}

#slider-image-2:target ~ .image-container {
  left: -500px;
}

#slider-image-3:target ~ .image-container {
  left: -1000px;
}